[package]
name = "bevy_water"
version = "0.12.1"
edition = "2021"
authors = ["Robert G. Jakabosky <rjakabosky+neopallium@neoawareness.com>"]
license = "MIT/Apache-2.0"
description = "Dynamic ocean material for Bevy."
keywords = ["water", "ocean", "waves", "bevy"]
repository = "https://github.com/Neopallium/bevy_water"
homepage = "https://github.com/Neopallium/bevy_water"

exclude = [
	"examples/*",
	"assets/models/*",
	"assets/textures/*",
]

[features]
default = ["webgl2", "embed_shaders", "depth_prepass"]

# Embed the shaders at compile-time.
embed_shaders = []

# file/embed watcher
file_watcher = [
	"bevy/file_watcher",
	"bevy/embedded_watcher",
]

# Enable inspector in examples.
inspector = []

# Enable debug lines in examples.
debug = []

# Enable bevy_atmosphere support in the examples.
atmosphere = []

# Enable bevy_panorbit_camera support in the examples.
panorbit = []

# Enable DepthPrepass in examples.
depth_prepass = []

# Select WebGL2 or WebGPU support.
# Use webgl2 for native builds (non-wasm).
webgl2 = [ "bevy/webgl2" ]
webgpu = [ ]

[dependencies]
anyhow = "1.0"

bevy = { version = "0.12.1", default-features = false, features = ["bevy_asset", "bevy_render", "bevy_pbr"] }

[dev-dependencies]
bevy = { version = "0.12.1", default-features = false , features = [
  "animation",
  "bevy_asset",
  "bevy_audio",
  "bevy_gilrs",
  "bevy_scene",
  "bevy_winit",
  "bevy_core_pipeline",
  "bevy_pbr",
  "bevy_gltf",
  "bevy_render",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "png",
  "jpeg",
  "hdr",
  "ktx2",
  "zstd",
  "vorbis",
  "x11",
  "bevy_gizmos",
  "android_shared_stdcxx",
  "tonemapping_luts",
  "default_font",
] }
bevy-inspector-egui = { version = "0.21" }
#bevy_atmosphere = { version = "0.7" }
#bevy_prototype_debug_lines = { version = "0.11", features = ["3d"] }
#bevy_spectator = { version = "0.3" }
bevy_panorbit_camera = { version = "0.9", features = ["bevy_egui"] }
